* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    box-sizing: content-box;
    width: 64vmin;
    border: 1px lightslategrey solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    flex: none;
    width: 16vmin;
    height: 16vmin;
    border: 1px lightslategrey solid;
}