* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

#container, .square {
    border: 0.5px #eee solid;
}

#container {
    box-sizing: content-box;
    width: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    flex: none;
    width: 20vmin;
    height: 20vmin;
}

.black0 {
    background-color: hsl(0 0% 100%);
}

.black10 {
    background-color: hsl(0 0% 90%);
}

.black20 {
    background-color: hsl(0 0% 80%);
}

.black30 {
    background-color: hsl(0 0% 70%);
}

.black40 {
    background-color: hsl(0 0% 60%);
}

.black50 {
    background-color: hsl(0 0% 50%);
}

.black60 {
    background-color: hsl(0 0% 40%);
}

.black70 {
    background-color: hsl(0 0% 30%);
}

.black80 {
    background-color: hsl(0 0% 20%);
}

.black90 {
    background-color: hsl(0 0% 10%);
}

.black100 {
    background-color: hsl(0 0% 0%);
}

